<form id="zendesk-ticket-form" action="{{actionurl}}" uploadurl="{{uploadurl}}" method="post" class="mform" enctype="multipart/form-data">
    <input type="hidden" name="sesskey" value="{{sesskey}}">
    <div class="fitem">
        <div class="fitemtitle">
            <label for="firstname">Name:</label>
        </div>
        <div class="felement">
            <input type="text" id="name" name="name" value="{{firstname}} {{lastname}}" readonly class="form-control">
        </div>
    </div>
    <div class="fitem">
        <div class="fitemtitle">
            <label for="username">Username:</label>
        </div>
        <div class="felement">
            <input type="text" id="username" name="username" value="{{username}}" readonly class="form-control">
        </div>
    </div>
    <div class="fitem">
        <div class="fitemtitle">
            <label for="email">Email:</label>
        </div>
        <div class="felement">
            <input type="text" id="email" name="email" value="{{email}}" readonly class="form-control">
        </div>
    </div>
    <div class="fitem">
        <div class="fitemtitle">
            <label for="groups">Groups:</label>
        </div>
        <div class="felement">
            <input type="text" id="groups" name="groups" value="{{groups}}" readonly class="form-control">
        </div>
    </div>
    <div class="fitem">
        <div class="fitemtitle">
            <label for="subject">Subject:</label>
        </div>
        <div class="felement">
            <input type="text" id="subject" name="subject" required class="form-control">
        </div>
    </div>
    <div class="fitem">
        <div class="fitemtitle">
            <label for="description">Description:</label>
        </div>
        <div class="felement">
            <textarea id="description" name="description" required class="form-control"></textarea>
        </div>
    </div>
    <div class="attachment-container">
        <div class="fitem uploader">
            <div class="fitemtitle">
                <label for="attachment">Attachment:</label>
            </div>
            <div class="felement">
                <input type="file" id="attachment" name="attachment" class="form-control">
            </div>
        </div>
        <div class="fitem attachment-list">
            <ul>
            </ul>
        </div>
        <div class="spinner" style="display: none;">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div class="form-spinner" style="display: none;">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div> <!-- Spinner per l'intero form -->
    <div class="fitem">
        <div class="felement">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
<div id="zendesk-form-success-message" class="alert alert-success" role="alert" style="display: none;">
    <center>
        <h4 class="alert-heading">{{success_message}}</h4>
    </center>
</div>