{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_courseformat/local/content/cm/activity_info

    Container to display activity information on the course page such as:
      - Activity completion requirements (automatic completion)
      - Manual completion button

    Example context (json):
    {
        "activityname": "Course announcements",
        "hascompletion": true,
        "uservisible": true,
        "isautomatic": true,
        "showmanualcompletion": true,
        "completiondetails": [
             {
                "statuscomplete": 1,
                "description": "Viewed"
            },
            {
                "statusincomplete": 1,
                "description": "Receive a grade"
            }
        ],
        "hasattempts": 1,
        "attempts": [
            {
                "attempmtno": 1,
                "feedback": "You have not yet attempted this quiz"
            }
        ]
    }
}}
        {{#attempts}}
        <div class="coursepage-quizattempt-testfinale d-flex flex-row p-4 mt-4 border rounded justify-content-between">
                <div class="coursepage-quizattempt-testfinale-no"><strong>{{attemptno}}° tentativo:</strong> {{feedback}}</div>
                <div class="coursepage-quizattempt-testfinale-review"><a href="{{reviewurl}}" class="">Consulta il risultato</a></div>
        </div>
        {{/attempts}}