<section class="footer_one {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home4 {{/footer_3}}" style="background-color:#123262;padding-top: 40px;padding-bottom: 60px;">
  <div class="container">
  <div class="row" style="padding-bottom: 36px">
      {{#logo_footer}}
      <div class="col-sm-12 col-md-4  col-lg-3 custom-responsive-footer">
        <a href="https://ec.europa.eu/info/index_it" target="_blank" class="footer-focus" aria-label="Vai al sito della Commissione Europea">
          <img class="img-fluid" style="max-height: 60px;width: auto;margin-right: 30px; margin-bottom: 15px;" src="/theme/edumy/templates/img_footer/logo-eu-pnrr-white.png" alt="Logo della Commissione Europea" >
        </a>
      </div>
      <div >
      </div>
      <div class="col-sm-12 col-md-5 col-lg-4 d-flex-custom-footer custom-responsive-footer">
          <a aria-label="Vai al sito del dipartimento della trasformazione digitale" class="footer-focus" href="https://innovazione.gov.it/" target="_blank" rel="noreferrer" style="display:flex; flex-direction: row">
          <img class="img-fluid" src="/theme/edumy/templates/img_footer/header_light.png" alt="Logo Repubblica Italiana" style="max-height: 60px;width: auto;margin-right: 5px; margin-bottom: 15px; padding-right: 15px;" >
          <img class="img-fluid" src="/theme/edumy/templates/img_footer/mitd-logo_tmp.png"  alt="Logo Dipartimento per la trasformazione digitale" style="max-height: 60px;width: auto;margin-right: 30px; margin-bottom: 15px;" >
        </a>
    </div>

      <div class="col-sm-12 col-md-3  col-lg-3 custom-responsive-footer">
        <a aria-label="Vai al sito della Repubblica Digitale" class="footer-focus" href="https://repubblicadigitale.gov.it/portale/" target="_blank" rel="noreferrer">
          <img class="img-fluid" src="/theme/edumy/templates/img_footer/logo-rd-white.png" alt="Logo Repubblica Digitale" style="max-height: 60px;width: auto; margin-bottom: 15px;" >
        </a>
    </div>

      {{/logo_footer}}
    </div>
    <div class="row">
      {{#footer_column_1}}
        <div class="{{{footer_col_1_class}}}">
          <div class="footer_contact_widget {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home4 {{/footer_3}}">
            <h4>{{{ footer_col_1_title }}}</h4>
            {{{ footer_col_1_body }}}
          </div>
        </div>
      {{/footer_column_1}}
      {{#footer_column_2}}
        <div class="{{{footer_col_2_class}}}">
          <div class="footer_company_widget {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home4 {{/footer_3}}"  style="display:flex;flex-direction:column">
            <h4>{{{ footer_col_2_title }}}</h4>
            {{{ footer_col_2_body }}}
          </div>
        </div>
      {{/footer_column_2}}
      {{#footer_column_3}}
        <div class="{{{footer_col_3_class}}}">
          <div class="footer_program_widget {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home4 {{/footer_3}}" style="display:flex;flex-direction:column">
            <h4>{{{ footer_col_3_title }}}</h4>
            {{{ footer_col_3_body }}}
          </div>
        </div>
      {{/footer_column_3}}
      {{#footer_column_4}}
        <div class="{{{footer_col_4_class}}}">
          <div class="footer_support_widget {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home4 {{/footer_3}}">
            <h4>{{{ footer_col_4_title }}}</h4>
            {{{ footer_col_4_body }}}
          </div>
        </div>
      {{/footer_column_4}}
      {{#footer_column_5}}
        <div class="{{{footer_col_5_class}}}">
          <div class="footer_apps_widget {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home4 {{/footer_3}}">
            {{> theme_edumy/ccn_social_icons }}
          </div>
        </div>
      {{/footer_column_5}}
    </div>
  </div>
</section>
<section class="footer_middle_area p0 {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home4 {{/footer_3}}" style="background-color:#061931">
  <div class="container">
    <div class="row" class="custom_area_footer_container">
    <div class="col-12 custom_area_footer">
     <a href="./mod/page/view.php?id=374" class="custom_link_subfooter" style="color:#63D6D1; margin-right: 2%; text-decoration: underline;">Informativa privacy</a>

      <a href="#" class="custom_link_subfooter" style="color:#63D6D1;margin-right: 2%;text-decoration: underline;" target="_blank">Dichiarazione di accessibilità
      <svg xmlns="http://www.w3.org/2000/svg" style="    margin-left: 4px;
        margin-bottom: 5px;" width="21" height="21" viewBox="0 0 25 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.5 4H14C13.7239 4 13.5 4.22386 13.5 4.5C13.5 4.77614 13.7239 5 14 5H18.6996L10.3307 13.3689C10.1355 13.5642 10.1355 13.8808 10.3307 14.076C10.526 14.2713 10.8426 14.2713 11.0378 14.076L19.5 5.61385V10.5C19.5 10.7761 19.7239 11 20 11C20.2761 11 20.5 10.7761 20.5 10.5V5C20.5 4.44772 20.0523 4 19.5 4ZM17.51 12.5C17.51 12.2239 17.7339 12 18.01 12C18.2784 12.0053 18.4947 12.2216 18.5 12.49V18C18.5 19.6569 17.1569 21 15.5 21H6.5C4.84315 21 3.5 19.6569 3.5 18V9C3.5 7.34315 4.84315 6 6.5 6H11.5C11.7739 6.00532 11.9947 6.22609 12 6.5C12 6.77614 11.7761 7 11.5 7H6.5C5.39543 7 4.5 7.89543 4.5 9V18C4.5 19.1046 5.39543 20 6.5 20H15.51C16.6146 20 17.51 19.1046 17.51 18V12.5Z" fill="#63D6D1"></path>
        </svg>
      </a>
      <a href="https://www.italiadomani.gov.it" class="custom_link_subfooter" style="color:#63D6D1; text-decoration: underline; float: right;" target="_blank">Italia domani
       <svg xmlns="http://www.w3.org/2000/svg" style="    margin-left: 4px;
        margin-bottom: 5px;" width="21" height="21" viewBox="0 0 25 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.5 4H14C13.7239 4 13.5 4.22386 13.5 4.5C13.5 4.77614 13.7239 5 14 5H18.6996L10.3307 13.3689C10.1355 13.5642 10.1355 13.8808 10.3307 14.076C10.526 14.2713 10.8426 14.2713 11.0378 14.076L19.5 5.61385V10.5C19.5 10.7761 19.7239 11 20 11C20.2761 11 20.5 10.7761 20.5 10.5V5C20.5 4.44772 20.0523 4 19.5 4ZM17.51 12.5C17.51 12.2239 17.7339 12 18.01 12C18.2784 12.0053 18.4947 12.2216 18.5 12.49V18C18.5 19.6569 17.1569 21 15.5 21H6.5C4.84315 21 3.5 19.6569 3.5 18V9C3.5 7.34315 4.84315 6 6.5 6H11.5C11.7739 6.00532 11.9947 6.22609 12 6.5C12 6.77614 11.7761 7 11.5 7H6.5C5.39543 7 4.5 7.89543 4.5 9V18C4.5 19.1046 5.39543 20 6.5 20H15.51C16.6146 20 17.51 19.1046 17.51 18V12.5Z" fill="#63D6D1"></path>
        </svg>
      </a>
    </div>
    </div>
  </div>

</section>


{{#cocoon_copyright}}
  <section class="footer_bottom_area pt25 pb25 {{#footer_2}} home3 {{/footer_2}} {{#footer_3}} home4 {{/footer_3}}">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="copyright-widget text-center">
            <p>{{{ cocoon_copyright }}}</p>
            <div class="tool_usertours-resettourcontainer"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/cocoon_copyright}}
