## Using Custom Image
APP_IMAGE="${AWS_ACCOUNT}.dkr.ecr.${AWS_REGION}.amazonaws.com/${APP_ECR_NAME}"
WEB_IMAGE="${AWS_ACCOUNT}.dkr.ecr.${AWS_REGION}.amazonaws.com/${WEB_ECR_NAME}"

# RUNTYPE="environment-type"
