{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/progress-bar

    This template renders a simple progress bar.

    Example context (json):
    {
        "progress": 50
    }
}}
<div class="small">
    <span class="sr-only">{{#str}}aria:courseprogress, block_myoverview{{/str}}</span>
    <span style="color: #333;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */">Avanzamento del corso:</span><strong style="
color:#003366!important;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 28px;">{{progress}}%</strong>
</div>

<div class="progress bg-white" style="    width: 81%;
 
    position: absolute;
    left: 11%;">
    <div class="progress-bar bar" role="progressbar" aria-valuenow="{{progress}}" style="width: {{progress}}%" aria-valuemin="0" aria-valuemax="100"></div>
</div>
