<div id="page" class="stylehome1 home2 h0" style="background-color:#0066CC!important">

  <div class="container-fluid" data-container="container" style="    justify-content: space-between;">
    <div class="col-2">
      <a href="#menu"  data-hamburger="hamburger-menu" style="color:white!important;">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </a>
    </div>
    <div class="col-2 ">
        {{#logo}}
        <a href="{{{ ccnLogoUrl }}}" class="">
          {{#logo_image}}<img class="img-fluid" data-logo="logo" src="{{{headerlogo_mobile}}}" alt="{{{sitename}}}" {{#logo_styles}} style="{{{logo_styles}}} " {{/logo_styles}}>{{/logo_image}}
          {{#logotype}}<span>{{{ sitename }}}</span>{{/logotype}}
        </a>
      {{/logo}}
    </div>
    <div class="col-6" >
        <div data-p="piattaforma-formazione" style="color:white!important">Formazione digitale</div>   
    </div>   
    <div class="col-2 " style="display: flex;
    justify-content: flex-end;">
      <div class="circle-icon" data-circle="circle">
        <span data-initial="initial">{{{initial}}}<span>
    </div>
    </div>
   </div>
 
</div>
<nav id="menu" class="stylehome1">
    <ul>
      {{{ output.custom_menu }}}
      {{> theme_edumy/ccn_header_mob_user }}
    </ul>
</nav>